.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  max-width: 1024px;
  position: relative;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  width: 500px;
  min-height: 500px;
  position: fixed;
  /* right: 15%; */
  left: 60%;
  top: 15%;
}

.controlColumn {
  width: 50%;
}

/* Used isolate so that I dont have to manage z-indexes
by creating a stacking context, didn't know of this property
so thank you for introducing it! :D */

.darkgraybackground {
  isolation: isolate;
  position: absolute;
  top: 60%;
  width: 100%;
  height: 100%;
  background-color: hsl(195deg, 20%, 86%);
}
